<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalabe=no"/>
        <title>까까 채팅방</title>
    </head>
    <body>
        <center>
        <h1>오둥이 테스트</h1>
        <img src="{{ url_for('static', filename='img/odung.png') }}"> </br>
        <textarea id="chatBox", style="font-weight:bold", cols="45", rows="18", resize=none, readonly></textarea>
        <select id='userList' style="width:150px;" size="15">
        </select> </br>
        <input type="text", style="width:380px;", id="message", Placeholder="채팅을 입력하세요." autofocus/> </br>
        <button id="disconnect_button", onclick="disconnect()">종료</button>
        &nbsp;&nbsp;&nbsp;
        <input type="button", id="send_button", onclick="send_message()", value="전송" />
        </center>
    </body>
</html>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    
    const socket = io('http://3.132.24.2', { transports: ['websocket'] });
    socket.on('connect', () => {
        socket.emit('connect event', '{{ user["user_name"] }} connected!');
    });

    var myMessage = document.getElementById('message');
    myMessage.addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("send_button").click();
        }
    })

    socket.on('broad message', (message) => {
        var isScrollBottom = ((Math.ceil(document.getElementById("chatBox").scrollTop) + document.getElementById("chatBox").clientHeight) >= document.getElementById("chatBox").scrollHeight)
        document.getElementById("chatBox").value = document.getElementById("chatBox").value + message + "\n";
        if (isScrollBottom) {
            document.getElementById("chatBox").scrollTop = document.getElementById("chatBox").scrollHeight;
        }
    });

    socket.on('room message', (message) => {
        document.getElementById("chatBox").value = message + document.getElementById("chatBox").value;
        document.getElementById("chatBox").scrollTop = document.getElementById("chatBox").scrollHeight;
    });

    socket.on('enter user', (user_data) => {
        var userList = document.getElementById("userList");
        var user = document.createElement("option");
        user.text = user_data["user_name"];
        user.value = user_data["user_id"];
        userList.options.add(user);
    });


    socket.on('disconnect event', (url) => {
        window.location = url.url;
    });

    function send_message() {
        var message = document.getElementById("message").value.trim();
        if (message != "") {
            socket.emit('send message', message);
        }
        document.getElementById("message").value = "";
    }

    function disconnect() {
        socket.emit('disconnect event');
    }
    
</script>

<style>
    body {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    textarea {
        font-size: 15px;
        resize: none;
    }
</style>