<!DOCTYPE html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    alert(location.origin);
    var socket = io.connect('http://' + document.domain + ':8000');
    alert(location.port);
    socket.on('connect', function() {
       socket.emit('test', {data: 'I\'m connected!'});
    });
    alert("exit");
</script>
<html>
    <head>
        <meta charset="UTF-8">
        <title>까까 채팅방</title>
    </head>
    <body>
        <center>
        <h1>오둥이 테스트</h1>
        <!-- 니 아이피 주소 {{ request.remote_addr }} <br/> -->
        <img src="{{ url_for('static', filename='img/odung.png') }}"> </br>
        <textarea id="chatBox", cols="50", rows="10", readonly></textarea> </br>
        <input type="text", id="message", Placeholder="채팅을 입력하세요." />
        <input type="button", id="send_button", onclick="send_message()", value="전송" /> </br>
        <button id="connect_button", onclick="connect();", value={{ request.remote_addr }}>연결</button>
        <button id="disconnect_button", onclick="disconnect()">종료</button>
        </center>
    </body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();

    function send_message() {
        //send_socket.send(document.getElementById("message").value);
        socket.emit('my event', {message: document.getElementById("message").value});
        document.getElementById("chatBox").value = document.getElementById("chatBox").value + document.getElementById("message").value + "\n";
        document.getElementById("message").value = "";
    }
    
</script>

<style>
    body {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
</style>