<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>까까 채팅방</title>
    </head>
    <body>
        <center>
        <h1>오둥이 테스트</h1>
        <!-- 니 아이피 주소 {{ request.remote_addr }} <br/> -->
        <img src="{{ url_for('static', filename='img/odung.png') }}"> </br>
        <textarea id="chatBox", cols="100", rows="20", readonly></textarea> </br>
        <input type="text", id="message", Placeholder="채팅을 입력하세요." autofocus/>
        <input type="button", id="send_button", onclick="send_message()", value="전송" /> </br>
        <!-- <button id="connect_button", onclick="connect()", value={{ request.remote_addr }}>연결</button> -->
        <button id="disconnect_button", onclick="disconnect()">종료</button>
        </center>
    </body>
</html>

<script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    
    const socket = io('http://ec2-3-23-132-5.us-east-2.compute.amazonaws.com', { transports: ['websocket'] });

    var myMessage = document.getElementById('message');
    myMessage.addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("send_button").click();
        }
    })

    socket.on('broad message', (message) => {
        var isScrollBottom = ((Math.ceil(document.getElementById("chatBox").scrollTop) + document.getElementById("chatBox").clientHeight) >= document.getElementById("chatBox").scrollHeight)
        document.getElementById("chatBox").value = document.getElementById("chatBox").value + message + "\n";
        if (isScrollBottom) {
            document.getElementById("chatBox").scrollTop = document.getElementById("chatBox").scrollHeight;
        }
    });

    function send_message() {
        var message = document.getElementById("message").value.trim();
        if (message != "") {
            socket.emit('my event', {message: message});
        }
        document.getElementById("message").value = "";
    }

    function disconnect() {
        socket.emit('disconnect event');
        socket.on('redirect2', (url) => {
            window.location = url.url;
        });
    }
    
</script>

<style>
    body {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
</style>